*/node_modules

*/dist

*/build

*/.env

*/.env.local

*/.env.development.local

*/.env.test.local

*/.env.production.local

*/client/node_modules

*/client/dist

*/client/build

*/client/.env

*/client/.env.local

*/client/.env.development.local

*/client/.env.test.local

*/client/.env.production.local

*/server/node_modules

*/server/dist

*/server/build

*/server/.env

*/server/.env.local

*/server/.env.development.local

*/server/.env.test.local

*/server/.env.production.local

*.pdf

*.DS_Store

*/packages/client/*.DS_Store
*/packages/server/*.DS_Store
*/packages/shared/*.DS_Store
*/packages/tester/*.DS_Store

*/packages/client/node_modules
*/packages/server/node_modules
*/packages/shared/node_modules
*/packages/tester/node_modules
*/packages/shared/dist

node_modules
packages/shared/dist
.idea
_OLD